div{
   
    margin-top: 1000px;
    padding: 20px;
    height: 1000px;
    width: 1000px; 
    display: flex;
    font-size: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}
input{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
}
input:hover{
    background-color: rgb(124, 125, 125);
}

body{
    background-image: url(image/Install\ Notion\ Calendar.jpg);
    /* Ensures the image covers the entire viewport */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
    height: 100vh;
    background-size: cover; /* Makes sure it covers the entire viewport height */
    margin: 0;
 
}