.box1{
    background-color: greenyellow;
    padding: 10px;
    margin:20px;
    border: 8px solid black;
}
#content{
    position: fixed;
    background-color: aqua;
    width: 100%;
    display: block;
    margin-top: -19px;
    margin-left: -9px;
    text-align: center;
    font-size: 4rem;
      
}